.archetype {
    padding: 4em 2em;
    text-align: center;
}

.archetype .arcControls {
    margin-top: 1.5em;
}

.archetype select {
    padding: 0.5em;
    font-size: 1em;
}

.archetype button {
    margin-left: 1em;
    padding: 0.6 em 1em;
    font-size: 1em;
    border-radius: 15px;
    color: white;
    transition: transform 0.2s ease, color 0.2s ease;
}

.archetype button:hover {
    transform: scale(1.1);
    color: red;
}

#Archetype {
    padding-top: 300px;
    margin-top: 300px;
}

#Archetype select {
    background-color: white;
    color: black;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 25px;
}

#Archetype h3 {
    color: black;
    font-size: 2em;
}

.arcPreview {
    width: 300px;
    height: 300px;
    border: 2px solid rgb(204, 204, 204);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em auto;
}

.arcPreview img {
    width: 300px;
    height: 300px;
    object-fit: contain;
}

.placeholder {
    color: rgb(170, 170, 170);
    font-style: italic;
}

.locked-message {
    text-align: center;
    font-weight: bold;
    color: #444;
    margin-top: 12px;
  }