.corePokemon {
    text-align: center;
    justify-content: center;
}

.corePokemon .coreControls {
    margin-top: 1.5em;
}

.corePokemon select {
    padding: 0.5em;
    font-size: 1em;
}

.corePokemon button {
    margin-left: 1em;
    padding: 0.6em 1em;
    font-size: 1em;
    border-radius: 8px;
    color: white;
    transition: transform 0.2s ease, color 0.2s ease;
}

.corePokemon button:hover {
    transform: scale(1.1);
    color: red;
  }

#core-pokemon {
    padding-top: 300px;
    margin-top: 300px;
}

#core-pokemon select {
    background-color: white;
    color: black;
    padding: 0.5em;
    font-size: 1em;
    border-radius: 25px;
}

#core-pokemon h2 {
    color: black;
    font-size: 2em;
}
